*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, header a, header ul{
    background-color: #0020F4;
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: "BPG Mrgvlovani", sans-serif;
    font-size: 16px;
}
.aborder a{
    border-radius: 28px;
    background-color: white;
    color: #171717;
}
.logo{
    max-width: 115px;
    width: 20%;
    vertical-align: middle;
    padding: 20px;
}
nav, header li{
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
}
.small img{
    max-width: 707px;
    width: 85%;
    padding-left: 30px;
}
.big img{
    max-width: 948px;
    width: 100%;
}
.small,.big{
    display: inline-block;
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.section1 h1{
    margin-top: 40px;
    margin-bottom:15px;
    color: #171717;
    font-family: "BPG Mrgvlovani", sans-serif;
    font-size: 32px;
    margin-left:30px ;

}
.section1 p{
    width: 30%;
    font-family: "ArchyEDT-Thin", sans-serif;
    font-size: 16px;
    margin-left: 30px;
}
.section1 img{
  max-width: 707px;
  width: 20%;
  margin-left: 100px;
  background: #0A22F4 0% 0% no-repeat padding-box;
  border-radius: 15px;
}
section p, img{
    display: inline-block;
    margin-bottom: 50px;
    vertical-align: middle;
}
.section2 h1{
    margin-top: 100px;
}

